<div class="flex items-center justify-end gap-2">
    <p-button type="submit" icon="pi pi-filter" [rounded]="true" [outlined]="!hasActiveFilters()" [disabled]="!hasFilters()" pTooltip="Aplicar filtros" tooltipPosition="top" (click)="onApply()" />
    @if (hasFilters() || hasActiveFilters()) {
        <p-button severity="danger" type="submit" icon="pi pi-filter-slash" [rounded]="true" [outlined]="!hasActiveFilters()" pTooltip="Limpiar filtros" tooltipPosition="top" (click)="onReset()" />
    }
</div>
