<form autocomplete="off" (ngSubmit)="onSubmit()" class="flex flex-wrap justify-end items-center gap-2 my-4">
    <!-- Filtros específicos -->
    <ng-container *ngTemplateOutlet="specificFilters; context: { $implicit: form.value, formGroup: form }"></ng-container>
    <!-- PrimeNG input -->
    <div class="flex justify-center items-center gap-2">
        <p-floatlabel variant="on">
            <input autocomplete="off" class="w-full md:w-[20rem]" [(ngModel)]="searchText" id="name" pInputText name="searchText" />
            <label class="text-gray-500" for="name">Buscar</label>
        </p-floatlabel>

        @if (hasActiveFilters) {
            <button pButton type="button" severity="success" [rounded]="true" [outlined]="true" pTooltip="Limpiar Filtros" tooltipPosition="top" (click)="onReset()" aria-label="Limpiar filtros"><i class="pi pi-filter-slash"></i></button>
        }
        <button pButton type="submit" class="p-button-outlined p-button-rounded" aria-label="Buscar"><i class="pi pi-search"></i></button>
    </div>
</form>
<ng-template #defaultStrictTemplate></ng-template>