/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use './layout/layout.scss';
@use './demo/demo.scss';

:root {
    --color-error: #f44336;
    --color-warning: #f59e0b;
    --color-success: #4caf50;
    --color-info: #2196f3;
}

body {
    font-size: 1rem;
    font-weight: normal;
}
